body {
    background-color: white;
    font-family: 'Krub', sans-serif;
    margin: 10px;
    /*padding-bottom: 30px;*/
}

.fondo{
    background-image: url(img/gp.jpeg);
    background-repeat:repeat-x;
    background-position: bottom;
    z-index: -1;/* asegura que la imagen esté detrás del contenido */
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: wheat;
    background-color: #454545;
    border: 2px solid #454545;
    padding: 30px 50px;
    margin: 20px 0;
}

button {
    color: white;
    background-color: #454545;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 30px;
    width: 150px;
    text-transform: uppercase; /*Texto en mayúscula*/
    text-align: center;
    cursor: pointer;

}

button:hover {                 /*Pseudoclase*/
    background-color: transparent;
    border: 2px solid gray;
    color: #454545;
    
}

footer{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.navegador{
    display: flex;
    justify-content:space-around;  /*elementos dentro del contenedor flexible se distribuirán equitativamente*/
    background-color: #FFA559;
}

.navegador a {               /*Selec, descendientes*/
    color: #ffffff;
    text-decoration: none;  /*Elimina linea subrayada*/
    font-weight: bold;
    font-size: 17px;
    padding: 1rem;
}

.navegador a:hover {
    background-color: #454545;
    color: wheat;
}


fieldset{
    border: none;
    padding: 30px; /*separación con num tarj*/
    text-align: center;
}

.formulario {
    font-size: 15px;
    background-color: #FFE6C7;
    margin: 10px 400px;
    padding: 20px 50px;
    border-radius: 3rem;
}

.leyenda{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;   /*letras mayusculas*/
    color: #454545;
}

label{
    color: #454545;
    font-weight: bold;
}

.campos input{      /*Selec, descendiente*/
    border: none;
    padding: 10px;
    margin: 10px;
    width: 70%;
}

#fecha-mes{
    width: 29%;
}

#fecha-año{
    width: 29%;
}

input[type=number]::-webkit-inner-spin-button,   /*quitar la flecha de los input*/
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}